@import url('https://fonts.googleapis.com/css2?family=Playfair+display:wght@400;500;600;700&family=Roboto&display=swap');
hr{
    margin-block-start: 0;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    color: #EFF6E0;
    background:#0B0A11;
    font-size: 16px;
    font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Playfair Display' , serif;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(168, 131,37);
    padding-bottom: 5px;
    margin-top: 50px; 
}

a:hover{
    text-decoration: none;
}

/*      Navbar      */
.nav-color{
    background-color: #0B0A11;
}

.navbar-nav a{
    text-decoration: none;
    color:#EFF6E0;
}

.nav-icon{
    color: #EFF6E0;
    font-size: 1.2em;
}

.active{
    border-bottom: 1px solid #EFF6E0;
}

.nav-item i{
    padding-right: 3px;
    padding-left: 3px;
}

.dropdown-menu{
    background: #0B0A11;
}

/*      Background images       */
.full-width-bg{
    height: 100vh;
    
    background: url("../images/full-width-lucian.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;

    animation-name: bg-zoom;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.full-width-bg-ability{
    height: 80vh;
    
    background: url("../images/lucian-bg-highnoon.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;

    animation-name: bg-zoom;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.full-width-bg-combos{
    height: 80vh;
    
    background: url("../images/project-lucian-45.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;

    animation-name: bg-zoom;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.bg-overflow{
    overflow: hidden;
}

@keyframes bg-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.04);
    }
}

.contact-full-width-bg{
    height: 100vh;
    
    background: url("../images/project-lucian-45.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

/*      Jumbotron and Headings       */
.jumbotron-centered{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
}

.jumbo-container{
    margin: 120px auto;
}

.display-4{
    font-size: 3em;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(168,131,37);
    text-align: center;
}

.lead{
    text-align: center;
}

.adc-img-centre{
    text-align: center;
}

.adc-img {
    background: transparent;
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: 15px 15px;
}

/*      Icons       */
.icon-container{
     text-align: center;
     margin-top: 100px;
     margin-bottom: 100px;
}

.icon-container i{
    font-size: 10em;
}
/* E */
/*      Intro       */
.intro-text{
    margin: 100px 50px 15px 100px;
    text-align: center;
}

.intro-end-text{
    margin: 100px 50px 15px 100px;
}

.intro-text hr{
    background-color: rgba(168,131,37);
    border: rgba(168,131,37);
    width: 25px;
    height: 1px;
}

.intro-gif{
    margin-left: 50px;
    margin-top: 100px;
    border-bottom: 1px solid rgba(168,131,37);
    padding-bottom: 15px; 
}

.intro-end-gif,
.combo-gif {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 5px;
}

.figure-caption{
    color: #EFF6E0;
}

/*      Page Breaks     */
.page-break{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
}
.page-break img{
    height: 70px;
    width: 70px;
}

.page-break hr{
    display: inline-block;
    background-color: rgba(168,131,37);
    width: 100px;
    position: relative;
    top: 15px;
}

/*      3 Cards     */
.plaque-container{
    margin-bottom: 100px;
}
.plaque{
    margin: 0 auto;
    width: 300px;
    background: #0B0A11;
    border: 2px solid #EFF6E0;
}
.plaque img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 320px;
}

.plaque-copy{
    padding: 1em;
    margin-top: 0;
    background: #eff6e0;
    color: #0b0a11;
}

.plaque-copy h3{
    margin-top: 15px;
}

.plaque:hover{
    border: 2px solid rgba(168,131,37);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/*      Footer      */
.footer-container{
    background: #0B0A11;
    border-top: 1px solid #EFF6E0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
}

.footer-center-align{
    text-align: center;
}

.triple-icon-left-color{
    color: #BFD7EA;
}

.triple-icon-mid-color{
    color: #598392;
}

.triple-icon-right-color{
    color: #124669;
}

.footer-text{
    text-transform: uppercase;
}

.footer-anchors a i{
    text-decoration: none;
    color: #EFF6E0;
    font-size: 2.4em;
    margin-right: 5px;
}

.icon-hover:hover{
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    color: rgba(168, 131,37);
}

/*      Abilites Page     */
.table {
    margin: 50px 0px 100px 0px;
    border-collapse: separate;
    border-spacing: 0.3em;
    width: 100%;
}

td {
    width: 5%;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    border-radius: 3px;
    border-spacing: 10px;
} /*https://stackoverflow.com/questions/18075794/bootstrap-table-without-stripe-borders from user David Pastore as the bootstrap class table-borderless wasn't getting rid of the borders in my table*/

.table td{
    background:rgba(168,131,37,0.1);
}

tr>.level-up{
    background: rgba(168,131,37);
}

#q-img{
    background-image: url("../images/Q.JPG");
}

#w-img{
    background-image: url("../images/w.JPG");
}

#e-img{
    background-image: url("../images/E.JPG");
}

#r-img{
    background-image: url("../images/r.JPG");
}

#passive-img{
    background-image: url("../images/passive.JPG")
}

.table-img{
    padding: 0px;
    text-align: center;
}


.table-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table-text i{
    font-size: 4em;
}

td {
    text-align: center;
    padding-top: 15px;
}

.green-plus{
    color: green;
    font-size: 1.2em;
}

.red-minus{
    color: red;
    font-size: 1.2em;
}

.mini-item-heading{
    margin: 100px 50px 15px 100px;
}

.mini-item-banner {
    text-align: center;
}

.mini-item-banner-wrap{
    margin: 100px 50px 15px 100px;
}

.mini-item-banner h6{
    margin-top: 10px;
}

.mini-item-banner img{
    margin-bottom: 5px;
}

.mini-item-banner p{
    margin-bottom: 15px;
    text-align: left;
}

.small-p-margin{
    text-align: left;
}

.mini-item-banner>.small-p-margin{
    margin-bottom: 5px;
}

.mini-item-banner>.mini-center{
    text-align: center;
}

.mini-item-banner-text{
    margin-top: 25px;
}

.superlative{
    vertical-align: super;
    font-size:0.8em;
}

.figure-caption{
    text-align: center;
}

.abilities-heading{
    margin: auto;
    width: 50%;
}
.abilities-heading h2{
    text-align: center;
}

.abilities-heading p{
    text-align: center;
    margin-bottom: 50px;
}

.media{
    margin-left: 20px;
    margin-right: 20px;
}

.abilities-media a{
    margin-left: 20px;
}

.collapse{
 margin: auto;
}

/*      Media       */
.rounded-circle{
    border: 2px solid rgba(168,131,37);
    padding: 2px;
}

.card-body{
    background: transparent;
    border: none;
}

.btn-primary{
    background: #EFF6E0;
    color: #0B0A11;
    border: none;
    margin-top: 5px;
    margin-bottom: 25px;
}

.btn-primary:hover{
    background: #0B0A11;
    color: #EFF6E0;
}

/*          Combos Page     */
.support-cards{
    margin-top: 75px;
    margin-bottom: 50px;
}

.run-off-bg{
    background: #0B0A11;
}

.support-list{
    height: 32px;
    width: 32px;
    display:inline-block;
}

.support-heading{
    display: inline-block;
}

.progress{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #EFF6E0;
}

.progress-bar-text{
    font-size: 1.5em;
    margin: 15px auto;
}

.bg-danger-alt{
    background: rgba(236, 4, 4);
}

.bg-info-alt{
    background: rgba(247, 36, 247);
}

.bg-danger-alt-i{
    color: rgba(236, 4, 4);
}

.bg-success-i{
    color: #28a745;
}

.bg-info-alt-i{
    color: rgba(247, 36, 247);
}

.bg-danger-alt-ad{
    background: rgb(253, 165, 0);
}

.bg-success-alt-ad{
    background: rgba(22, 6, 245);
}

.bg-info-alt-ad{
    background: rgba(6, 240, 111);
}

.bg-danger-alt-ad-i{
    color:rgb(253, 165, 0);
}

.bg-success-alt-ad-i{
    color: rgba(22, 6, 245);
}

.bg-info-alt-ad-i{
    color: rgba(6, 240, 111);
}

.combos-heading{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.difficulty-headings{
    margin-top: 50px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    margin-right: 20px;
    margin-left: 20px;
}

.combos-subtext{
    text-align: center;
    margin-bottom: 50px;
}

.botrk-link{
    color: #EFF6E0;
    text-decoration: underline;
}

.botrk-link:hover{
    color: rgba(168,131,37);
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.combos-text p{
    margin-right:20px;
    margin-left: 20px;
    text-align: center;
}

.video-wrapper iframe{
    width: 100%;
    height: 500px;
    margin:50px 0px 25px 0px;
}

.key-stroke{
    display: inline-block;
}

/*      Contacts Page       */
.wrap-form{
    margin-top: 100px;
    margin-left: 450px;
}

.wrap-form-gif{
    margin-top: 150px;
}

.wrap-form img{
    float: right;
}

.holder{
    margin-left: 60px;
    width: 50%;
}

.form-control{
    width: 300px;
    background: #0B0A11;
}

input::placeholder{
    color: rgba(168,131,37);
    opacity: 1;
}

/*      Media Queries        */
@media only screen and (max-width: 576px){
    .adc-img-centre{
        display: none;
    }

    .intro-gif{
        margin: 50px auto;
        width: 100vw;
    }

    .intro-text,
    .intro-end-text{
        margin: 50px 15px 50px 15px;
        padding: 0px 15px 0px 15px;
    }

    .support-text{
        margin-right: 15px;
        margin-left: 15px;
    }

    .support-cards{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .support-text, .figure-combos{
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .thresh-mobile{
        margin-top:25px;
        margin-bottom: 25px;
    }

    .icon-divider{
        position: absolute;
        top: 0;
        left: 0;
    }

    .plaque{
        margin: 30px auto;
        text-align: center;
    }

    .jumbo-circle{
        display: none;
    }

    .plaque-container{
        margin: 10%;
    }

    .triple-icon{
        margin: auto;
    }

    .form-control{
        width: 200px;
    }

    .wrap-form{
        z-index: 1000;
    }
}

    

