@import url('https://fonts.googleapis.com/css2?family=Playfair+display:wght@400;500;600;700&family=Roboto&display=swap');


body{
    color: #EFF6E0;
    background: #01161e;
    font-size: 16px;
    font-family: 'Roboto', serif;
}

/*      Navbar      */
.nav-color{
    background-color: #0B0A11;
}

.navbar-nav a{
    text-decoration: none;
    color:#EFF6E0;
}
/*      End Navbar      */