@import url('https://fonts.googleapis.com/css2?family=Playfair+display:wght@400;500;600;700&family=Roboto&display=swap');

body{
    color: #EFF6E0;
    background: #01161e;
    font-size: 16px;
    font-family: 'Roboto', serif;
}

/*      Navbar      */
.nav-color{
    background-color: #0B0A11;
}

.navbar-nav a{
    text-decoration: none;
    color:#EFF6E0;
}

.active{
    border-bottom: 1px solid #EFF6E0;
}

.nav-item i{
    padding-right: 3px;
    padding-left: 3px;
}
/*      End Navbar      */

/*      Background images       */
.full-width-bg{
    height: 100vh;
    
    background: url("../assets/images/full-width-lucian.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}
/*      end background      */

/*      Jumbotron and Headings       */
.jumbotron-centered{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
}

.display-4{
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(168,131,37);
    text-align: center;
}

.lead{
    text-align: center;
}

/*      End J&H     */

/*      Icons       */
.icon-container{
     text-align: center;
     margin-top: 100px;
     margin-bottom: 100px;
}

.icon-container i{
    font-size: 10em;
}

/*

/*      Icon Colors     */
.triple-icon-left-color{
    color: #BFD7EA;
}

.triple-icon-mid-color{
    color: #598392;
}

.triple-icon-right-color{
    color: #124669;
}
/*      End icons       */

/*      Horizontal rules     */
.icon-divider {
    border-top: 5px solid rgba(168, 131, 37);
    position: relative;
    top: 160px;
}
/*      End hr      */

/*      3 Cards     */
.card-container{
    margin-bottom: 100px;
}
.card{
    margin: 0 auto;
    box-shadow: 2px 2px 3px #eff6e0;
    width: 280px;
    background: transparent;
    border: none;
}
.card img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 320px;
}

.card-copy{
    padding-top: 1em;
    margin-top: 0;
    background: #eff6e0;
    color: #0b0a11;
}

.card:hover{
    box-shadow: 7px 7px 9px #eff6e0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*      Footer      */
.footer-container{
    background: #0B0A11;
    border: none;
}
.footer-container i{
    font-size: 2em;
    color:#EFF6E0;
    margin: 5px;
    float: right;
}

.footer-container i:hover{
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    color: rgba(168, 131, 37);
}

/*      My attempt at making my heading sit in the centre of the 
  I added a new class to my h1 element and called it display-4-center and then created this rule :
.display-4-center{
    position: absoloute 